.content {
    padding: 85px 20px 0 20px;
    height: 100vh;
    width: 100vw;
    background-color: #e4b1ac81;
    font-size: 1.5rem;
}

@media screen and (max-width: 767px) {

    .content {
        padding: 95px 15px 0 15px;
        font-size: 14px;
    }

   
}
