.breadcrumbs {
    position: absolute;
    top:65px;
    /* background-color: aqua; */
    color: #000 ;
    width: 100vw;
    font-size: 12px;
    padding-left: 20px;
    z-index: 0;
}


@media screen and (max-width: 767px) {
    .breadcrumbs {
        top:70px;
        padding-left: 15px;
    }
   
}
